* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// GENERIC
body {
    background-color: grey;
    color: white;
}

header {
    height: 100px;
    background-color: black;
    margin-bottom: 30px;

    .container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h1 {
        color: red;
        font-weight: bold;
    }

}

button {
    padding: 5px;
    background-color: red;
    color: white;
}

// utility
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    margin-bottom: 30px;
}